[Unit]
Description=ROS Launch Service
Wants=network-online.target NetworkManager-wait-online.service
After=network-online.target NetworkManager-wait-online.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/bxi
Environment=ROS_DOMAIN_ID=XX
Environment=RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash -lc "source /home/bxi/bxi_ws/bxi_rl_controller_ros2_example/install/setup.bash && exec ros2 launch remote_controller remote_controller.launch.py"
KillMode=control-group
KillSignal=SIGINT
TimeoutStopSec=15s
SendSIGKILL=yes
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
